{% extends 'base.html.twig' %}
{% block title %} Products | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-xs-4">
                            <div class="shear-product">
                                <a href="{{ path('product_show', {slug: product.slug}) }}">
                                    <img class="center-block shear-product-img" height="100" src="{{ asset('uploads/'~product.imageFilename) }}"/>
                                    <p class="text-center shear-product-title">{{ product.name }}
                                    <span>${{ product.price }}</span></p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}